<web-app>
<servlet>
	<servlet-name>FileDateServletMapping</servlet-name>
	<servlet-class>ch10.FileDateServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>FileDateServletMapping</servlet-name>
	<url-pattern>/fileServlet</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>FileDateServlet01Mapping</servlet-name>
	<servlet-class>ch10.FileDateServlet01</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>FileDateServlet01Mapping</servlet-name>
	<url-pattern>/fileServlet01</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>FileDateServlet02Mapping</servlet-name>
	<servlet-class>ch10.FileDateServlet02</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>FileDateServlet02Mapping</servlet-name>
	<url-pattern>/fileServlet02</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>FileDateServlet03Mapping</servlet-name>
	<servlet-class>ch10.FileDateServlet03</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>FileDateServlet03Mapping</servlet-name>
	<url-pattern>/fileServlet03</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>FileDateServlet04Mapping</servlet-name>
	<servlet-class>ch10.FileDateServlet04</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>FileDateServlet04Mapping</servlet-name>
	<url-pattern>/fileServlet04</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>FileDateServlet05Mapping</servlet-name>
	<servlet-class>ch10.FileDateServlet05</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>FileDateServlet05Mapping</servlet-name>
	<url-pattern>/fileServlet05</url-pattern>
</servlet-mapping>
</web-app>